

.headerr {
    max-width: 100% !important;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("img/black-close-up-coal-dark-46801.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh !important;
    width: 100% !important;
}

.inform {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    min-height: 50%;
}

.logo-img {
    width: 70px !important;
}

.col-md-4 {
    padding: 0 !important;
}